.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 70vh;
  gap: 10px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centers horizontally & vertically */
  z-index: 10; /* keep above video */
}


.button{
    width: 150px;
    border: 1px solid white;
    border-radius: 16px;
    height:40px;
    background-color: darkslategray;
    color: white;
    font-size: 20;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    background-color: transparent;
    color:darkslategray;
    border: 1px solid darkslategray;
}
.input {
  width: 200px;
  height: 45px;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 16px;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px); 
  
  color: white;
  font-size: 16px;
  font-weight: 300;
  padding: 0 12px;

  transition: all 0.3s ease;
  outline: none;
}
.errorPara{
    color: white;
}

.input:hover {
  border-color: #fff;
  box-shadow: 0 0 8px darkslategray;
}


.input:focus {
  border-color: #00f5ff;
  box-shadow: 0 0 10px darkslategray;
  background: rgba(255, 255, 255, 0.15);
}

.menu_link{
  font-size: 20px;
  padding-top: 10px;
}
.pop_up_div{
  color: white;
  background-color: rgba(117, 11, 162, 0.82);
  width: 80%;
 
  padding: 10px;
  border-radius: 16px;

  /* margin: 30px; */
  position: fixed;     
  z-index: 1000;
  top: 40%;  
  left: 33%;           
  transform: translate(-30%, -30%);
}
.pop_up_div p{
  text-align: center;
  font-size: 20;
}
.pop_upButtondiv{
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.popUpbutton{
    width: 170px;
    border: 1px solid white;
    border-radius: 16px;
    height:40px;
    background-color: darkslategray;
    color: white;
    font-size: 15;
    cursor: pointer;
    transition: all 0.3s ease;
}
.popUpbutton:hover{
    background-color: transparent;
    color:darkslategray;
    border: 1px solid darkslategray;
}

.overlay {
  position: fixed;       
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(5px);    
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;         
}



.loaderOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}


.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255,255,255,0.3);
  border-top: 5px solid #fff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
