MONGO_URI=YOUR URL

NEXT_PUBLIC_FIREBASE_API_KEY=FIREBASE API KEY

PUSHER_APP_ID=PUSHER ID
PUSHER_KEY=PUSHER KEY
PUSHER_SECRET=PUSHER SECRET 
PUSHER_CLUSTER=CLUSTER NAME
NEXT_PUBLIC_PUSHER_KEY=SAME AS PUSHER ID
NEXT_PUBLIC_PUSHER_CLUSTER=SAME AS PUSHER CLUSTER
