html, body {
  background-color: #FFF8F1;
  color:#2E2E2E;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}
:root {
  --nav-height: 80px;

  --primary: #6F4E37;   /* Coffee Brown */
  --primary-hover: #5A3E2B;
  --accent: #C97C5D;    /* Caramel */
  --bg: #FFF8F1;        /* Warm Ivory */
  --card: #EADBC8;      /* Cream Beige */
  --text: #2E2E2E;
  --white: #FFFFFF;
}

main.main-content {
  padding-top: var(--nav-height); 
  box-sizing: border-box;
}

/* Background video */
/* .video-container {
  position: fixed;
  inset: 0;           
  z-index: -1;        
  overflow: hidden;
}

.bg-video {
  filter: blur(6px);
  opacity:0.12
} */


.nav {
  position: fixed;     
  top: 0;
  left: 0;
  width: 100%;         
  height: 90px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;

  background-color: var(--primary);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  
  box-sizing: border-box;
  z-index: 1000;      
}


.home-logo {
  color: white;
  font-size: 26px;
  font-weight: 600;
  cursor: pointer;
}
